*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
.nav-link{
    color: white;
}
.header{
    background-color: rgb(0, 0, 0);
}
.navbar{
    background-color: rgba(0, 0, 0, 0.24);
    
}
.атай{
    color: red;
}
.нурек{
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
     justify-content: center;
}
.эмир{
    width: 250px;
    height: 200px;
}
.кнопка{
    width: 100px;
}
